<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="superadmin/superadmin_fragment :: head(~{::title})">
    <meta charset="UTF-8" >
    <!--宽度等于屏幕的宽度 不缩放 便于在pc端和移动端查看  -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>学院党支部</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--导航 inverted表示黑白与否 attached圆角与否 segment形成一个分段-->
<nav th:insert="superadmin/superadmin_fragment :: menu(4)"></nav>

<br><br><br><br><br>
<!--中间内容-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <h3 class="ui dividing header">学院党支部</h3>
        <div class="ui segment">
            <form method="post" class="ui form" th:object="${colleges}" th:action="${colleges.getId()}==null ?   @{/admin/superAdmin/colleges} : @{/admin/superAdmin/collegesUpdate/{id}(id=${colleges.getId()})}">
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>学院名称</label>
                            <div class="field">
                                <input type="text"  th:value="${colleges.getName()}" name="name" placeholder="请输入学院名称">
                            </div>
                        </div>
                        <div class="field">
                            <label>创建党支部时间</label>
                            <div class="field">
                                <input type="date"  th:value="${#dates.format(colleges.getCreatepartytime(),'yyyy-MM-dd')}" name="createpartytime" placeholder="请输入创建党支部时间">
                            </div>
                        </div>
                    </div>
                </div>

                <!--表单验证的错误信息展示-->
                <div class="ui error message"></div>


                <!--！！！！！！！！！！！！！！！！千万不能删除 用于前端的提示消息！！！！！！！！！！！！！！！！！！！！！！！！！！！-->
                <!--表单验证提交了重复的分类名称 hasErrors('name')对应Colleges类中的name验证
                th:errors="*{name}"对应的是collegesController中的错误提示-->
                <!--/*/
                    <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                        <i class="icon close"></i>
                        <div class="header">验证失败:</div>
                        <p th:errors="*{name}"></p>
                    </div>
                /*/-->
                <!--！！！！！！！！！！！！！！！！千万不能删除 用于前端的提示消息！！！！！！！！！！！！！！！！！！！！！！！！！！！-->

                <!--返回保存和发布按钮-->
                <div class="ui right aligned container">
                    <!--onclick事件返回上一个页面-->
                    <button class="ui button" type="button" onclick="window.history.go(-1)">返回</button>
                    <button class="ui submit teal button">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br>

<!--底部footer-->
<footer th:insert="superadmin/superadmin_fragment :: footer"></footer>

<!--脚本-->
<th:block th:insert="superadmin/superadmin_fragment :: script"></th:block>




<!-- .是通过class获得按钮，当我们触发按钮的时候来取消或者添加相应的样式
用于移动端展示目录的按钮，但是pc端没有-->
<script>
    $('.menu-button').click(function () {
        $('.menu-control').toggleClass('m-mobile-hide');
    });

    // #是通过按钮id来弹出赞赏的二维码
    //先通过按钮获得弹出 然后设置要弹出的内容 设置触发的条件以及弹窗的位置
    $('#payButton').popup({
        popup: $('.payCode.popup'),
        on:'click',
        position:'bottom center'
    })

    /*点击头像弹出注销的下拉框*/
    $('.ui.dropdown')
        .dropdown();


    /*关闭消息提示框*/
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        });

    /*验证内容不能为空*/
    $('.ui.form').form({
        fields:{
            /*这里往上都是固定的内容*/
            /*title表示你要限定的元素的name属性*/
            name:{
                identifier:'name',
                /*指定规则*/
                rules:[{
                    type:'empty',
                    prompt:'学院党支部名称不能为空'
                }]
            },
            createpartytime:{
                identifier:'createpartytime',
                /*指定规则*/
                rules:[{
                    type:'empty',
                    prompt:'学院党支部创建时间不能为空'
                }]
            }


        }
    });

</script>
</body>
</html>