<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="superadmin/superadmin_fragment :: head(~{::title})">
    <meta charset="UTF-8" >
    <!--宽度等于屏幕的宽度 不缩放 便于在pc端和移动端查看  -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>支部新闻数据展示</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--导航 inverted表示黑白与否 attached圆角与否 segment形成一个分段-->
<nav th:insert="superadmin/superadmin_fragment :: menu(3)"></nav>


<!--二级导航-->
<div th:insert="superadmin/superadmin_fragment :: menuOne(1)"></div>



<!--中间内容-->
<div class="m-padded-tb-big m-container-big">
    <div class="ui container">
        <div class="ui segment stackable">
            <!--筛选列表-->
            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
            <div id="mainEChar" style="width: 1100px;height:500px;"></div>
        </div>
    </div>
</div>


<!--底部footer-->
<footer th:insert="superadmin/superadmin_fragment :: footer"></footer>

<!--脚本-->
<th:block th:insert="superadmin/superadmin_fragment :: script"></th:block>


<!-- .是通过class获得按钮，当我们触发按钮的时候来取消或者添加相应的样式
用于移动端展示目录的按钮，但是pc端没有-->
<script  th:inline="javascript">
    $('.menu-button').click(function () {
        $('.menu-control').toggleClass('m-mobile-hide');
    });

    // #是通过按钮id来弹出赞赏的二维码
    //先通过按钮获得弹出 然后设置要弹出的内容 设置触发的条件以及弹窗的位置
    $('#payButton').popup({
        popup: $('.payCode.popup'),
        on:'click',
        position:'bottom center'
    })

    /*点击头像弹出注销的下拉框*/
    $('.ui.dropdown')
        .dropdown();


    /*加载可视化图表*/
    var data1 = [[${listName}]];
    var data2 = [[${listNum}]];
    var data3 = [[${listCommentNum}]];
    var data4 = [[${listViewNum}]];
    var myChart = echarts.init(document.getElementById('mainEChar'));

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['新闻发布数量', '新闻阅读数量', '新闻评论数量']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'value'
            }
        ],
        yAxis: [
            {
                type: 'category',
                axisTick: {
                    show: false
                },
                data: JSON.parse(data1)
            }
        ],
        series: [
            {
                name: '新闻发布数量',
                type: 'bar',
                label: {
                    show: true,
                    position: 'inside'
                },
                emphasis: {
                    focus: 'series'
                },
                data: JSON.parse(data2)
            },
            {
                name: '新闻评论数量',
                type: 'bar',
                stack: 'Total',
                label: {
                    show: true
                },
                emphasis: {
                    focus: 'series'
                },
                data: JSON.parse(data3)
            },
            {
                name: '新闻阅读数量',
                type: 'bar',
                stack: 'Total',
                label: {
                    show: true,
                },
                emphasis: {
                    focus: 'series'
                },
                data: JSON.parse(data4)
            }
        ]
    };
    myChart.setOption(option);


</script>
</body>
</html>