<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzx.party.mapper.DeleteLogBySizeMapper">

    <delete id="deleteLogBySize" parameterType="Integer">
        delete from t_logs order by operationtime limit #{size}
    </delete>

    <delete id="deleteAllLog" >
        delete from t_logs
    </delete>

</mapper>