<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzx.party.mapper.NewsByManyMapper">
    <select id="listNewsByUpdateTime" resultType="NewsByMany">
        select n.id,n.title from t_news n
        where college_id=#{arg0} and published=#{arg1} ORDER BY n.updatetime desc limit #{arg2};
    </select>

    <select id="listNewsByViews" resultType="NewsByMany">
        select n.id,n.title from t_news n
        where college_id=#{arg0} and published=#{arg1} ORDER BY n.views desc limit #{arg2};
    </select>

    <select id="listNewsByComments" resultType="NewsByMany">
        select n.id,n.title from t_comments c,t_news n
        where c.new_id=n.id and n.college_id=#{arg0} and n.published=#{arg1}
        GROUP BY c.new_id  ORDER BY count(c.new_id) desc limit #{arg2};
    </select>
</mapper>