<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="collegeadmin/collegeadmin_fragment :: head(~{::title})">
    <meta charset="UTF-8" >
    <!--宽度等于屏幕的宽度 不缩放 便于在pc端和移动端查看  -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>主页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--导航 inverted表示黑白与否 attached圆角与否 segment形成一个分段-->
<nav th:insert="collegeadmin/collegeadmin_fragment :: menu(1)"></nav>


<!--中间内容-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <div class="ui message large">
            <th:block th:each="collegeOne:${listCollege}">
                <th:block th:if="${collegeOne.getId()==session.get('admin').getCollege_id()}">
                    <h3>[[${collegeOne.getName()}]] 管理员 【[[${session.get('admin').getName()}]]】 欢迎回来！</h3>
                </th:block>
            </th:block>
            <h4 style="color: red">我志愿加入中国共产党</h4>
            <h4 style="color: red">拥护党的纲领，遵守党的章程，履行党员义务，执行党的决定，严守党的纪律，保守党的秘密</h4>
            <h4 style="color: red">对党忠诚，积极工作，为共产主义奋斗终身，随时准备为党和人民牺牲一切，永不叛党</h4>
        </div>


        <img th:src="@{/images/GuoQi.png}" alt="" class="ui rounded bordered fluid image">
    </div>
</div>


<!--底部footer-->
<footer th:insert="collegeadmin/collegeadmin_fragment :: footer"></footer>


<!--脚本-->
<th:block th:insert="collegeadmin/collegeadmin_fragment :: script"></th:block>


<!-- .是通过class获得按钮，当我们触发按钮的时候来取消或者添加相应的样式
用于移动端展示目录的按钮，但是pc端没有-->
<script>
    $('.menu-button').click(function () {
        $('.menu-control').toggleClass('m-mobile-hide');
    });

    // #是通过按钮id来弹出赞赏的二维码
    //先通过按钮获得弹出 然后设置要弹出的内容 设置触发的条件以及弹窗的位置
    $('#payButton').popup({
        popup: $('.payCode.popup'),
        on:'click',
        position:'bottom center'
    })

    /*点击头像弹出注销的下拉框*/
    $('.ui.dropdown')
        .dropdown();

</script>
</body>
</html>