<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="collegeadmin/collegeadmin_fragment :: head(~{::title})">
    <meta charset="UTF-8" >
    <!--宽度等于屏幕的宽度 不缩放 便于在pc端和移动端查看  -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>新闻公告发布</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--导入markdown的依赖css-->
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--导航 inverted表示黑白与否 attached圆角与否 segment形成一个分段-->
<nav th:insert="collegeadmin/collegeadmin_fragment :: menu(2)"></nav>


<!--二级导航-->
<div th:insert="collegeadmin/collegeadmin_fragment :: menuTwo(1)"></div>


<!--中间内容-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <form id="new-form"  method="post" class="ui form" th:action="${getNewById.getId()}==null ? @{/admin/collegeAdmin/newshow} : @{/admin/collegeAdmin/newsUpdate/{id}(id=${getNewById.getId()})}">
            <!--用于确定是保存还是发布-->
            <input type="hidden" name="published">
            <!--构建文章的类型以及文章的标题-->
            <div class="field ">
                <!--选择文章类型-->
                <div class="ui labeled left input"><!--这个div只是定义一个label-->
                    <!--compact是让下拉框和文本保持一样的大小-->
                    <div class="compact dropdown ui teal basic selection label"><!--这个div形成一个选择的label-->
                        <input name="ntype" type="hidden" value="原创" th:value="${getNewById.getNtype()}">
                        <i class="icon dropdown"></i>
                        <div class="default text">原创</div><!--默认原创-->
                        <div class="menu">
                            <div class="item" data-value="原创">原创</div>
                            <div class="item" data-value="转载">转载</div>
                        </div>
                    </div>
                    <!--标题-->
                    <input type="text" name="title" placeholder="标题" th:value="${getNewById.getTitle()}">
                </div>
            </div>

            <!--文章主体-->
            <div class="field">
                <!--对应的外层容器的名字 用于markdown初始化-->
                <!--style="z-index: 1 !important;"表示覆盖到最上面-->
                <div id="md-content" style="z-index: 1 !important;">
                    <textarea th:text="${getNewById.getContent()}" placeholder="新闻公告内容" name="content" style="display: none"></textarea>
                </div>
            </div>

            <!--分类和标签-->
            <div class="two fields">
                <!--分类-->
                <div class=" field">
                    <div class="ui left labeled input">
                        <label class="ui compact teal basic label">专业</label>
                        <select name="major_id" id="major_id" class="ui fluid dropdown search ">
                            <option value="">所属专业</option>
                            <!--新建的时候-->
                            <option th:if="${getNewById.getId()}==null"
                                    th:each="majorTwo:${listMajors}"
                                    th:text="${majorTwo.getName()}"
                                    th:value="${majorTwo.getId()}">
                            </option>
                            <!--修改的时候-->
                            <option th:if="${getNewById.getId()}!=null"
                                    th:selected="${getNewById.getMajor_id()==majorTwo.getId()}"
                                    th:each="majorTwo:${listMajors}"
                                    th:text="${majorTwo.getName()}"
                                    th:value="${majorTwo.getId()}">
                            </option>
                        </select>
                    </div>
                </div>
                <!--图片-->
                <div class=" field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">首图</label>
                        <input type="text" name="indexpicture" placeholder="首图引用地址" th:value="${getNewById.getIndexpicture()}">
                    </div>
                </div>
            </div>

            <!--表单验证的错误信息展示-->
            <div class="ui error message"></div>

            <!--返回保存和发布按钮-->
            <div class="ui right aligned container">
                <!--onclick事件返回上一个页面-->
                <button class="ui button" type="button" onclick="window.history.go(-1)">返回</button>
                <button type="button"  id="save-btn" class="ui secondary button">保存</button>
                <button type="button" id="public-btn" class="ui teal button">发布</button>
            </div>

        </form>
    </div>
</div>


<!--底部footer-->
<footer th:insert="collegeadmin/collegeadmin_fragment :: footer"></footer>


<!--脚本-->
<th:block th:insert="collegeadmin/collegeadmin_fragment :: script"></th:block>



<script>

    /*初始化markdown编辑器*/
/*contentEditor是我们自定义的名字 无意义*/
    var contentEditor;
    $(function() {
        /*md-content是我们编辑器外层的div名字*/
        contentEditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            /*这里的路径是markdown内置的lib路径*/
            path    : "/lib/editormd/lib/"
        });
    });


    /*.是通过class获得按钮，当我们触发按钮的时候来取消或者添加相应的样式
用于移动端展示目录的按钮，但是pc端没有*/
    $('.menu-button').click(function () {
        $('.menu-control').toggleClass('m-mobile-hide');
    });

    /*弹出下拉框*/
    $('.ui.dropdown')
        .dropdown();

    /*保存或者发布*/
    /*如果是保存 那么published赋值为false*/
    $('#save-btn').click(function () {
        $('[name="published"]').val("草稿");
        $('#new-form').submit();
    });

    /*如果是发布 那么published赋值为true*/
    $('#public-btn').click(function () {
        $('[name="published"]').val("发布");
        $('#new-form').submit();
    });

    /*验证内容不能为空*/
    $('.ui.form').form({
        fields:{
            /*这里往上都是固定的内容*/
            /*title表示你要限定的元素的name属性*/
            title:{
                identifier:'title',
                /*指定规则*/
                rules:[{
                    type:'empty',
                    prompt:'标题不能为空'
                }]
            },
            content:{
                identifier:'content',
                /*指定规则*/
                rules:[{
                    type:'empty',
                    prompt:'新闻内容不能为空'
                }]
            },
            major_id:{
                identifier:'major_id',
                /*指定规则*/
                rules:[{
                    type:'empty',
                    prompt:'专业不能为空'
                }]
            }

        }
    });

</script>
</body>
</html>